Repository elastic/docs-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/docs, @elastic/doc-leads, @elastic/docs-engineering, @elastic/platform-docs, @elastic/obs-docs, @elastic/search-docs, @elastic/security-docs

.github/CODEOWNERS:

# Unless a later match takes precedence, someone on the docs team must review all PRs to this repo
*                           @elastic/docs

# Templates, workflows, and config
/.github/                   @elastic/doc-leads
/.github/workflows/         @elastic/docs-engineering
/acrolinx/                  @elastic/doc-leads

# V3 docs
/cloud-account/             @elastic/platform-docs
/deploy-manage/             @elastic/platform-docs
/explore-analyze/           @elastic/platform-docs
/extend/                    @elastic/platform-docs
/get-started/               @elastic/platform-docs
/manage-data/               @elastic/platform-docs
/reference/                 @elastic/platform-docs
/release-notes/             @elastic/docs
/solutions/                 @elastic/obs-docs @elastic/search-docs @elastic/security-docs
/solutions/observability/   @elastic/obs-docs
/solutions/search/          @elastic/search-docs
/solutions/security         @elastic/security-docs
/troubleshoot/              @elastic/docs

# What should we do with these files?
/raw-migrated-files/

# Legacy serverless docs
/serverless/                                @elastic/platform-docs
/serverless/serverless-changelog.asciidoc   @elastic/docs

Enable `primary-nav` feature
  docset.yml
Owners: @elastic/docs

Update elasticsearch.md
  reference/elasticsearch.md
Owners: @elastic/platform-docs

porting cloud-on-k8s PR #8489
  deploy-manage/deploy/cloud-on-k8s.md
Owners: @elastic/platform-docs

Update solutions/security/get-started/ingest-data-to-elastic-security.md
  solutions/security/get-started/ingest-data-to-elastic-security.md
Owners: @elastic/security-docs

Update solutions/security/get-started/data-views-elastic-security.md
  solutions/security/get-started/data-views-elastic-security.md
Owners: @elastic/security-docs

Sec reqs
  raw-migrated-files/docs-content/serverless/security-requirements-overview.md
  raw-migrated-files/toc.yml
  solutions/security/get-started/elastic-security-requirements.md
Owners: @elastic/security-docs

Alert suppression
  raw-migrated-files/docs-content/serverless/security-alert-suppression.md
  raw-migrated-files/toc.yml
  solutions/security/detect-and-alert/suppress-detection-alerts.md
Owners: @elastic/security-docs

Reduce alerts and notifications
  raw-migrated-files/docs-content/serverless/security-reduce-notifications-alerts.md
  raw-migrated-files/toc.yml
  solutions/security/detect-and-alert/reduce-notifications-alerts.md
Owners: @elastic/security-docs

Query alert indices
  raw-migrated-files/docs-content/serverless/security-query-alert-indices.md
  raw-migrated-files/toc.yml
  solutions/security/detect-and-alert/query-alert-indices.md
Owners: @elastic/security-docs

Tune detection rules
  raw-migrated-files/docs-content/serverless/security-tune-detection-signals.md
  raw-migrated-files/toc.yml
  solutions/security/detect-and-alert/tune-detection-rules.md
Owners: @elastic/security-docs

Fix note in table
  solutions/security/detect-and-alert/reduce-notifications-alerts.md
Owners: @elastic/security-docs

[obs] Formatting fixes
  solutions/observability/get-started.md
  solutions/observability/get-started/quickstart-monitor-hosts-with-opentelemetry.md
Owners: @elastic/obs-docs

Removes security-interactive-investigation-guides.md
  raw-migrated-files/toc.yml
Owners: none

Removes security-about-rules.md
  raw-migrated-files/toc.yml
Owners: none

fix fleet nesting
  reference/toc.yml
Owners: @elastic/platform-docs

fix more nested items:
  reference/toc.yml
Owners: @elastic/platform-docs
