Repository elastic/docs-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/docs, @elastic/doc-leads, @elastic/docs-engineering, @elastic/platform-docs, @elastic/obs-docs, @elastic/search-docs, @elastic/security-docs

.github/CODEOWNERS:

# Unless a later match takes precedence, someone on the docs team must review all PRs to this repo
*                           @elastic/docs

# Templates, workflows, and config
/.github/                   @elastic/doc-leads
/.github/workflows/         @elastic/docs-engineering
/acrolinx/                  @elastic/doc-leads

# V3 docs
/cloud-account/             @elastic/platform-docs
/deploy-manage/             @elastic/platform-docs
/explore-analyze/           @elastic/platform-docs
/extend/                    @elastic/platform-docs
/get-started/               @elastic/platform-docs
/manage-data/               @elastic/platform-docs
/reference/                 @elastic/platform-docs
/release-notes/             @elastic/docs
/solutions/                 @elastic/obs-docs @elastic/search-docs @elastic/security-docs
/solutions/observability/   @elastic/obs-docs
/solutions/search/          @elastic/search-docs
/solutions/security         @elastic/security-docs
/troubleshoot/              @elastic/docs

# What should we do with these files?
/raw-migrated-files/

# Legacy serverless docs
/serverless/                                @elastic/platform-docs
/serverless/serverless-changelog.asciidoc   @elastic/docs

cspm, kspm, and cnvm get started pages
  raw-migrated-files/docs-content/serverless/security-benchmark-rules-kspm.md
  raw-migrated-files/docs-content/serverless/security-benchmark-rules.md
  raw-migrated-files/docs-content/serverless/security-cspm-get-started-azure.md
  raw-migrated-files/docs-content/serverless/security-cspm-get-started-gcp.md
  raw-migrated-files/docs-content/serverless/security-cspm-get-started.md
  raw-migrated-files/docs-content/serverless/security-get-started-with-kspm.md
  raw-migrated-files/docs-content/serverless/security-kspm.md
  raw-migrated-files/docs-content/serverless/security-vuln-management-get-started.md
  raw-migrated-files/toc.yml
  solutions/security/cloud/get-started-with-cnvm.md
  solutions/security/cloud/get-started-with-cspm-for-aws.md
  solutions/security/cloud/get-started-with-cspm-for-azure.md
  solutions/security/cloud/get-started-with-cspm-for-gcp.md
  solutions/security/cloud/get-started-with-kspm.md
  solutions/security/cloud/kubernetes-security-posture-management.md
Owners: @elastic/security-docs

it's cute now
  deploy-manage/_snippets/field-doc-sec-limitations.md
  deploy-manage/toc.yml
  deploy-manage/users-roles/cluster-or-deployment-auth/controlling-access-at-document-field-level.md
  deploy-manage/users-roles/serverless-custom-roles.md
Owners: @elastic/platform-docs

fixes build error and removes D4C content
  raw-migrated-files/toc.yml
  solutions/security/cloud/container-workload-protection-policies.md
  solutions/security/cloud/get-started-with-cwp-for-kubernetes.md
  solutions/security/cloud/kubernetes-dashboard.md
  solutions/security/dashboards/kubernetes-dashboard.md
  solutions/toc.yml
Owners: @elastic/security-docs, @elastic/obs-docs, @elastic/search-docs

nearly there
  deploy-manage/users-roles/cluster-or-deployment-auth/controlling-access-at-document-field-level.md
  deploy-manage/users-roles/cluster-or-deployment-auth/submitting-requests-on-behalf-of-other-users.md
Owners: @elastic/platform-docs

fix reference and release note nesting
  reference/index.md
  reference/toc.yml
  release-notes/toc.yml
Owners: @elastic/platform-docs, @elastic/docs

fix links
  deploy-manage/toc.yml
  deploy-manage/users-roles/cluster-or-deployment-auth/elasticsearch-privileges.md
  deploy-manage/users-roles/cluster-or-deployment-auth/kibana-privileges.md
  deploy-manage/users-roles/cluster-or-deployment-auth/submitting-requests-on-behalf-of-other-users.md
  reference/security/elastic-defend/endpoint-management-req.md
  solutions/security/configure-elastic-defend/elastic-defend-feature-privileges.md
  solutions/security/dashboards/detection-rule-monitoring-dashboard.md
  solutions/security/endpoint-response-actions/configure-third-party-response-actions.md
  solutions/security/explore/configure-network-map-data.md
Owners: @elastic/platform-docs, @elastic/security-docs

another anchor
  deploy-manage/users-roles/cluster-or-deployment-auth/defining-roles.md
Owners: @elastic/platform-docs

oops
  deploy-manage/users-roles/cluster-or-deployment-auth/defining-roles.md
Owners: @elastic/platform-docs

fixes 2
  deploy-manage/_snippets/field-doc-sec-limitations.md
  deploy-manage/users-roles.md
  deploy-manage/users-roles/cloud-organization/user-roles.md
  deploy-manage/users-roles/cluster-or-deployment-auth/built-in-roles.md
  deploy-manage/users-roles/cluster-or-deployment-auth/controlling-access-at-document-field-level.md
  deploy-manage/users-roles/cluster-or-deployment-auth/user-roles.md
  deploy-manage/users-roles/serverless-custom-roles.md
  raw-migrated-files/kibana/kibana/Security-production-considerations.md
  raw-migrated-files/kibana/kibana/elasticsearch-mutual-tls.md
  raw-migrated-files/kibana/kibana/xpack-spaces.md
  raw-migrated-files/toc.yml
  solutions/security/advanced-entity-analytics/machine-learning-job-rule-requirements.md
  solutions/security/dashboards/detection-rule-monitoring-dashboard.md
Owners: @elastic/platform-docs, @elastic/security-docs

cleanup
  raw-migrated-files/kibana/kibana/elasticsearch-mutual-tls.md
  raw-migrated-files/toc.yml
Owners: none

fixes build errors related to removing D4C docs
  solutions/security/cloud/cloud-workload-protection-for-kubernetes.md
  solutions/security/cloud/cloud-workload-protection-for-vms.md
  solutions/security/investigate/session-view.md
  solutions/toc.yml
Owners: @elastic/security-docs, @elastic/obs-docs, @elastic/search-docs

finishes this PR!
  raw-migrated-files/docs-content/serverless/ingest-aws-securityhub-data.md
  raw-migrated-files/docs-content/serverless/ingest-falco.md
  raw-migrated-files/docs-content/serverless/ingest-third-party-cloud-security-data.md
  raw-migrated-files/docs-content/serverless/ingest-wiz-data.md
  raw-migrated-files/docs-content/serverless/security-cloud-native-security-overview.md
  raw-migrated-files/docs-content/serverless/security-cloud-posture-dashboard-dash-cspm.md
  raw-migrated-files/docs-content/serverless/security-cloud-posture-dashboard-dash-kspm.md
  raw-migrated-files/docs-content/serverless/security-cloud-posture-dashboard-dash.md
  raw-migrated-files/docs-content/serverless/security-posture-management.md
  raw-migrated-files/toc.yml
  solutions/security/cloud.md
  solutions/security/cloud/cloud-workload-protection-for-vms.md
  solutions/security/cloud/enable-cloud-security-features.md
  solutions/security/cloud/ingest-aws-security-hub-data.md
  solutions/security/cloud/ingest-cncf-falco-data.md
  solutions/security/cloud/ingest-third-party-cloud-security-data.md
  solutions/security/cloud/ingest-wiz-data.md
  solutions/security/cloud/security-posture-management-overview.md
  solutions/security/dashboards/cloud-security-posture-dashboard.md
Owners: @elastic/security-docs

removes final ref to cwp for kubernetes page
  solutions/security/get-started/elastic-security-ui.md
Owners: @elastic/security-docs

Resolving comments
  deploy-manage/toc.yml
  deploy-manage/uninstall.md
  deploy-manage/uninstall/delete-a-cloud-deployment.md
  deploy-manage/uninstall/uninstall-a-self-managed-cluster.md
  deploy-manage/uninstall/uninstall-elastic-cloud-enterprise.md
  deploy-manage/uninstall/uninstall-elastic-cloud-on-kubernetes.md
Owners: @elastic/platform-docs

Fixing links
  deploy-manage/uninstall/delete-a-cloud-deployment.md
  deploy-manage/uninstall/uninstall-elastic-cloud-enterprise.md
Owners: @elastic/platform-docs

Update deploy-manage/uninstall/uninstall-elastic-cloud-enterprise.md
  deploy-manage/uninstall/uninstall-elastic-cloud-enterprise.md
Owners: @elastic/platform-docs

Update deploy-manage/uninstall.md
  deploy-manage/uninstall.md
Owners: @elastic/platform-docs

Update deploy-manage/uninstall.md
  deploy-manage/uninstall.md
Owners: @elastic/platform-docs

Update deploy-manage/uninstall.md
  deploy-manage/uninstall.md
Owners: @elastic/platform-docs

Update deploy-manage/uninstall.md
  deploy-manage/uninstall.md
Owners: @elastic/platform-docs

Update deploy-manage/uninstall.md
  deploy-manage/uninstall.md
Owners: @elastic/platform-docs

add autoscaling deciders overview
  deploy-manage/autoscaling/autoscaling-deciders.md
Owners: @elastic/platform-docs

cleanup
  deploy-manage/autoscaling.md
  deploy-manage/autoscaling/autoscaling-deciders.md
  deploy-manage/autoscaling/autoscaling-stateless-applications-on-eck.md
  deploy-manage/autoscaling/deployments-autoscaling-on-eck.md
  deploy-manage/autoscaling/ec-autoscaling-api-example.md
  deploy-manage/autoscaling/ec-autoscaling-example.md
  deploy-manage/autoscaling/ec-autoscaling.md
  deploy-manage/autoscaling/ece-autoscaling-api-example.md
  deploy-manage/autoscaling/ece-autoscaling-example.md
  deploy-manage/autoscaling/ech-autoscaling-example.md
  deploy-manage/autoscaling/trained-model-autoscaling.md
  deploy-manage/toc.yml
Owners: @elastic/platform-docs

rename file
  deploy-manage/autoscaling/ec-hosted-autoscaling-api-example.md
  deploy-manage/toc.yml
Owners: @elastic/platform-docs

fix broken link
  deploy-manage/autoscaling.md
Owners: @elastic/platform-docs

refine trained modell autoscaling
  deploy-manage/autoscaling/trained-model-autoscaling.md
Owners: @elastic/platform-docs

autoscaling overview edit
  deploy-manage/autoscaling.md
Owners: @elastic/platform-docs

fix links
  deploy-manage/autoscaling/ec-autoscaling-api-example.md
  raw-migrated-files/toc.yml
Owners: @elastic/platform-docs

refine autoscaling-deciders
  deploy-manage/autoscaling/autoscaling-deciders.md
Owners: @elastic/platform-docs

clean up files
  deploy-manage/autoscaling.md
  deploy-manage/autoscaling/ec-autoscaling-api-example.md
  deploy-manage/autoscaling/ec-autoscaling-example.md
  deploy-manage/autoscaling/ece-autoscaling-api-example.md
  deploy-manage/autoscaling/ece-autoscaling-example.md
  deploy-manage/autoscaling/ece-autoscaling.md
  deploy-manage/autoscaling/ech-autoscaling-example.md
  deploy-manage/autoscaling/ech-autoscaling.md
  deploy-manage/toc.yml
Owners: @elastic/platform-docs

fix links
  deploy-manage/autoscaling.md
Owners: @elastic/platform-docs

fix screenshot
  deploy-manage/autoscaling/ece-autoscaling-example.md
Owners: @elastic/platform-docs

clean up files
  raw-migrated-files/cloud/cloud-enterprise/ece-autoscaling.md
  raw-migrated-files/cloud/cloud-heroku/ech-autoscaling.md
  raw-migrated-files/cloud/cloud/ec-autoscaling.md
Owners: none

autoscaling overview edit 2
  deploy-manage/autoscaling.md
Owners: @elastic/platform-docs

Moves note in ECE page
  deploy-manage/uninstall/uninstall-elastic-cloud-enterprise.md
Owners: @elastic/platform-docs

Lock Podman major version
  deploy-manage/deploy/cloud-enterprise/configure-host-rhel-cloud.md
  deploy-manage/deploy/cloud-enterprise/configure-host-rhel-onprem.md
  deploy-manage/deploy/cloud-enterprise/migrate-ece-to-podman-hosts.md
Owners: @elastic/platform-docs

explain issue related to L7 load balancers with apm-server
  solutions/observability/apps/upstream-opentelemetry-collectors-language-sdks.md
Owners: @elastic/obs-docs

fix typos and adjust overview
  deploy-manage/autoscaling.md
  deploy-manage/autoscaling/ec-hosted-autoscaling-api-example.md
  deploy-manage/autoscaling/ece-autoscaling-api-example.md
Owners: @elastic/platform-docs

Update deploy-manage/uninstall.md
  deploy-manage/uninstall.md
Owners: @elastic/platform-docs

Update deploy-manage/uninstall.md
  deploy-manage/uninstall.md
Owners: @elastic/platform-docs
