Repository elastic/docs-content, pull requests merged in 2024-11, with the labels that each got.

#159 Fix MDX syntax, broken links, and use of updated variables
  serverless/pages/action-connectors.mdx
  serverless/pages/clients-ruby-getting-started.mdx
  serverless/pages/elasticsearch-developer-tools.mdx
  serverless/pages/explore-your-data-discover-your-data.mdx
  serverless/pages/explore-your-data-visualize-your-data-create-visualizations.mdx
  serverless/pages/ingest-your-data-ingest-data-through-integrations-connector-client.mdx
  serverless/pages/knn-search.mdx
  serverless/pages/maintenance-windows.mdx
  serverless/pages/search-your-data-semantic-search-elser.mdx
  serverless/pages/tags.mdx
  serverless/pages/welcome-to-serverless.mdx
Labels: ci:doc-build

#174 Fixes security attribute
  serverless/pages/machine-learning.asciidoc
  serverless/pages/manage-access-to-org-user-roles.asciidoc
  serverless/pages/project-and-management-settings.asciidoc
  serverless/pages/welcome-to-serverless.asciidoc
Labels: ci:doc-build

#175 Adds Open Crawler as ingest method
  serverless/pages/ingest-your-data.asciidoc
Labels: ci:doc-build

#139 [Serverless] Adds Trained model autoscaling page
  serverless/images/ml-nlp-deployment.png
  serverless/index-serverless-general.asciidoc
  serverless/pages/ml-nlp-auto-scale.asciidoc
Labels: documentation

#219 [Serverless] Fixes serverless references
  serverless/index-serverless-general.asciidoc
  serverless/index.asciidoc
  serverless/pages/manage-billing-stop-project.asciidoc
  serverless/pages/ml-nlp-auto-scale.asciidoc
  serverless/pages/service-status.asciidoc
  serverless/pages/welcome-to-serverless.asciidoc
  serverless/pages/what-is-elasticsearch-serverless.asciidoc
Labels: bug, Serverless bug bash 🐛
